#Named Entity Recognition(NER)

In [75]:
import spacy
nlp=spacy.load("en_core_web_sm")
nlp.pipe_names

['tok2vec', 'tagger', 'parser', 'attribute_ruler', 'lemmatizer', 'ner']

In [76]:
doc1=nlp("Tesla Inc is going to acquire twitter for $45 billion")
for ent in doc1.ents:
  print(ent.text,"|",ent.label_,spacy.explain(ent.label_))

Tesla Inc | ORG Companies, agencies, institutions, etc.
$45 billion | MONEY Monetary values, including unit

In [77]:
#for better view
from spacy import displacy
displacy.render(doc1,style="ent")

In [78]:
# let's try another document
doc=nlp("My name is Sajjan and i live in Jamshoro ")
for ent in doc.ents:
  print(ent.text,"|",ent.label_,spacy.explain(ent.label_))

#visualization for better view
from spacy import displacy
displacy.render(doc,style="ent")

Sajjan | PERSON People, including fictional
Jamshoro | GPE Countries, cities, states

In [ ]:
#entities that spacy support
nlp.pipe_labels['ner']

['CARDINAL',
 'DATE',
 'EVENT',
 'FAC',
 'GPE',
 'LANGUAGE',
 'LAW',
 'LOC',
 'MONEY',
 'NORP',
 'ORDINAL',
 'ORG',
 'PERCENT',
 'PERSON',
 'PRODUCT',
 'QUANTITY',
 'TIME',
 'WORK_OF_ART']

In [60]:
print(type(doc[0]))
print(type(doc[2:5]))
# how to set span
from spacy.tokens import Span
t1=Span(doc1,0,1,label="Person")
t2=Span(doc1,7,8,label="GPE")
doc1.set_ents([t1,t2],default='unmodified')

<class 'spacy.tokens.token.Token'>
<class 'spacy.tokens.span.Span'>

In [70]:
for ent in doc1.ents:
  print(ent.text,"|",ent.label_)

Tesla Inc | ORG
$45 billion | MONEY