In [1]:
from sklearn.metrics.pairwise import cosine_similarity,cosine_distances

In [2]:
cosine_similarity([[3,1]],[[6,2]])

array([[1.]])

In [3]:
cosine_distances([[3,1]],[[6,2]])

array([[1.11022302e-16]])

In [4]:
cosine_similarity([[1,4]],[[3,1]])

array([[0.53687549]])

In [5]:
cosine_distances([[1,4]],[[3,1]])

array([[0.46312451]])

# Taking real problem

In [7]:
import pandas as pd

In [10]:
df=pd.DataFrame([
    {'iphone':3,'galaxy':1},
    {'iphone':2,'galaxy':0},
    {'iphone':1,'galaxy':3},
    {'iphone':1,'galaxy':2},
],
    index=[
        'doc1',
        'doc2',
        'doc3',
        'doc4',
    ]
)

In [13]:
df

      iphone  galaxy
doc1       3       1
doc2       2       0
doc3       1       3
doc4       1       2

In [14]:
df.loc["doc1":"doc1"]

      iphone  galaxy
doc1       3       1

In [15]:
cosine_similarity(df.loc["doc1":"doc1"], df.loc["doc2":"doc2"])

array([[0.9486833]])

In [16]:
cosine_similarity(df.loc["doc2":"doc2"], df.loc["doc3":"doc3"])

array([[0.31622777]])

In [17]:
cosine_distances(df.loc["doc1":"doc1"], df.loc["doc2":"doc2"])

array([[0.0513167]])

In [19]:
cosine_distances(df.loc["doc2":"doc2"], df.loc["doc3":"doc3"])

array([[0.68377223]])

In [20]:
cosine_similarity(df.loc["doc1":"doc1"], df.loc["doc3":"doc3"])

array([[0.6]])